<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>German</string>
	<key>CFBundleExecutable</key>
	<string>Mobil</string>
	<key>CFBundleGetInfoString</key>
	<string>Mobile Zeiterfassung für Mac OS X 1.0.0</string>
	<key>CFBundleIconFile</key>
	<string>mobil</string>
	<key>CFBundleIdentifier</key>
	<string>com.cresd.scheduler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
